body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    filter: opacity(70%);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2em;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

section:last-child {
    border-bottom: none;
}

h1, h2 {
    color: #333;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4f4f4;
    letter-spacing: 0.1px;
    transition: 0.5s;
}
ul :hover {
    letter-spacing: 0.5px;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1px;
}
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul :visited {
    text-decoration: underline;
    color: #f4f4f4b9;
}